html,
body,
div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.App__content {
  margin-bottom: var(--spacing-xl);
}

.App__item {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: var(--spacing-m);
  padding-right: 50px;
}

.App__field {
  width: 48%;
  margin-right: var(--spacing-m);
}

.App__remove {
  position: absolute;
  right: 0;
  bottom: 0;
}